div.main {
	width:100%;
	height:auto;
}
aside,section {
	width:100%;
	height:auto;
}
aside ul{
	float:none;
	text-align:center;
}
header span  {
	width:34%;
}
span input {
	width: 55%;
}
hr {
	width:100%;
}
footer div div {
	margin:4px;
}
